numpy==1.26.4
scipy==1.13.1
opencv-python==4.10.0.84
ultralytics==8.2.103
torch==2.3.1
torchvision==0.18.1
fast-alpr==0.4.0
fast-plate-ocr==1.1.0
onnxruntime==1.18.1
python-dotenv==1.0.1
Pillow==10.3.0
requests==2.31.0
urllib3==2.0.7
